@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lazy-load {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.lazy-load[src] {
  opacity: 1;
}

@media (max-width: 640px) {
  .container {
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    max-width: 100% !important;
  }
  .snap-start {
    margin: 0 !important;
    padding: 0 !important;
  }
  .overflow-x-auto {
    -webkit-overflow-scrolling: touch;
  }
}